/* Contenedor principal con espacio para header y footer fijos */
.container {
    display: flex;
    height: 100%;
    overflow: auto;  
}

/* Sección izquierda (70%) */
.left {
    width: 70%;
    padding: 2em;
    margin-top: 9em; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.left h2 {
    font-size: 1.2em;
    color: #036306;
    margin-bottom: 0.5em;
}

.left h1 {
    font-size: 3em;
    margin: 0.5em 0 1em;
}

.left p {
    font-size: 1em;
    line-height: 1.6em;
    max-width: 40em;
}

/* Sección derecha (30%) */
.right {
    width: 30%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.lateral-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}