main {
    padding: 0 3em;
}

.project-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.project-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-bottom: 2em;
    border: 0.2em solid #ddd;
    padding: 1em;
    border-radius: 0.5em;
    transition: background-color 0.2s;
}

.project-item:hover {
    background-color: #f5f5f5;
}

.project-image {
    width: 100%;
    max-width: 15em;
    height: auto;
    object-fit: cover;
    border-radius: 0.3em;
    margin-right: 1em;
}

.project-content {
    max-width: 90%;
    box-sizing: border-box;
}

.project-content h2 {
    font-size: 1.8em;
    color: #036306;
}

.project-content p {
    margin-top: 0.5em;
    line-height: 1.6em;
}

.project-link {
    font-size: 1.5em;
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.project-description {
    font-size: 1.1em;
    color: #666;
    line-height: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
}

/* Media query for small screens */
@media (max-width: 768px) {
    .project-item {
        display: block;
        text-align: center;
    }

    .project-image {
        margin: 0 auto 1em; /* Center the image and add space below it */
        max-width: 100%; /* Make image fill the container */
    }

    .project-content {
        max-width: 100%;
        margin: 0;
    }
}